
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
.caja-info{
    height: 295px;
    text-align: center;
    padding: 20px;
    font-size: 15px;
    background-color: #262626;
    color: white;
    font-weight: 800 !important;
    margin-bottom: 17px;
    font-weight: 800;
    letter-spacing: 1px;
    position: relative;
    bottom: -100%;
}

.caja-info i{
    font-size: 30px;
    margin-bottom: 10px;
}

.caja-info h5{
    font-family: 'MuseoModerno', cursive;
    color: #6a8f42;
    font-weight: 800;
}

.icono{
    color: wheat;
}

.caja-info p{
    font-family: 'Raleway', sans-serif;
}

.showCaja{
    bottom: 0px;
    transition: all 1s ease;
}

@media(min-width:1441px){
    .caja-info{
        font-size: 15px;
        line-height: 20px;
    }

    .caja-info i{
        font-size: 25px;
    }
}