.item__servicio{
    padding: 0px 30px 0px 30px !important;
    width: 100% !important;
    height: 80px !important;
    display: flex;
    align-items: center;
    background-color: #fafafa !important;
    cursor: pointer;
}

.item__servicio h3{
    font-size: 20px;
}

.item__servicio i{
    font-size: 20px;
}

.servicio__explicacion{
    padding: 0px 30px;
    font-size: 19px;
    margin-bottom: 45px;
    text-align: justify;
    white-space: pre-line;
}

.showExplicacion{
    display: block !important;
    animation: ease;
}
.rotateflecha{
    transform: rotate(180deg);
    transition: all 1s ease;
}

@media(max-width:768px){
    .servicio__explicacion{
        text-align: start;
    }
}