.makeStyles-root-1 {
    height: 100%;
    position: relative;
    left: -170%;
}

.showCard{
    left: 0px;
    transition: all 1s ease !important;
}

@media(max-width:768px){
    .makeStyles-media-2 {
        height: 140px !important;
    }
}

@media(max-width:375px){
    .makeStyles-root-1 {
        height: 376px;
    }
    .makeStyles-media-2 {
        height: 160px !important;
    }
}