.MuiPaper-root {
    height: 100%;
    position: relative;
    left: -170%;
}

.showCard{
    left: 0px;
    transition: all 1s ease !important;
}

@media(max-width:768px){
    .MuiCardMedia-root {
        height: 140px !important;
    }
}

@media(max-width:375px){
    .MuiPaper-root{
        height: 376px;
    }
    .MuiCardMedia-root {
        height: 160px !important;
    }
}