@media(max-width:768px){
    .jss1 {
        height: 352px !important;
        margin-top: 47px;
    }
    .jss2 {
        height: 127px !important;
    }
    .card-exito-div p{
        font-size: 13px !important;
    }
}

@media(max-width:375px){
    .makeStyles-root-1 {
        height: 376px;
    }
    .makeStyles-media-2 {
        height: 160px !important;
    }
}